### Fake News Analysis

In [45]:
import re
import random
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression

In [46]:
fake=pd.read_csv("datasets/Fake.csv")
true=pd.read_csv("datasets/True.csv")
fake['class']=0
true['class']=1
df=pd.concat([fake,true],axis=0)

In [47]:
df

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [48]:
fake_test=fake.tail(10)
true_test=true.tail(10)
for i in  range(23480,234870-10,-1):
    fake.drop([i],axis=0,inplace=True)
for i in  range(21316,21306-10,-1):
    fake.drop([i],axis=0,inplace=True)

In [49]:
df_test=pd.concat([fake_test,true_test],axis=0)
df_test.to_csv("datasets/manual.csv")

In [50]:
df=df.drop(['title','subject','date'],axis=1)

In [51]:
df=df.sample(frac=1)
def words_drop(text):
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub("\\W"," ",text) 
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)    
    return text

In [52]:

x=df['text']
y=df['class']
df["text"]=df["text"].apply(words_drop)

NameError: name 'string' is not defined

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.3)

In [ ]:
vectorization=TfidfVectorizer()
x_vtrain=vectorization.fit_transform(x_train)
x_vtest=vectorization.fit_transform(x_test)

In [ ]:
lr=LogisticRegression()
lr.fit(x_vtrain,y_train)

In [ ]:
lr.score(x_train,y_test)